
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
h1, h2, h3, h4, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .5rem;
}
a {
    color: #0788e0;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h4, h4 {
    font-size: 1.5rem;
}
.h2, h2 {
    font-size: 2rem;
}
pre{
    display: flex !important;
    font-size: 87.5%;
    color: #212529;
    margin-bottom: 0px;
}
.custom_title{
    font-size: 2.5rem;
}
.custom_btn{
    border: 1px solid;
    border-radius: 5%;
}
.custom_search{
    padding: 9px 0px 9px 0px;
}
.custom_lilo{
    padding: 5px 5px;
}
.custom_nav{
    height : 50px !important;
    border-top : 1px solid #e5e5e5;
    color: #000;
}
.align-items{
    align-items: center!important;
}
.custom_nav_center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.custom_nav_center .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    color: #6c757d !important;
    padding: 0px 20px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #7C7BAD !important;
    text-decoration: underline;
}
.navbar-light .navbar-nav .btn_nav_link:hover {
    color: #fff !important;
    text-decoration: none;
    background-color : #6c757d;
}
.navbar-light{
    background-color : #fff !important;
}
.nav_container{
    padding: 0px !important;
}
/*  Footer CSS*/
.footer_text{
    color: #999;
    font-size: 16px;
    margin-bottom: 1rem;
}
.footer_link{
    color: #0788e0;
    font-size: 16px;
}
.footer_link:hover{
    color: #1756C0;
}
.py40{
    padding: 40px;
}
.custom_footer{
    background-color: #f9f9f9 !important;
    border-top: .05rem solid #e5e5e5 !important;
}
/* snippets CSS */
.custom_pl{
    padding-left: 0px;
}
.custom_pr{
    padding-right: 0px;
}
.custom_btn_bnav{
    border-radius: 2rem;
    color: #0788e0;
    background-color: #fff;
    border-color: #0788e0;
    font-size: 16px;
}
.custom_btn_bnav:hover{
    border-radius: 2rem;
    color: #fff;
    background-color: #0788e0;
    border-color: #0788e0;
    font-size: 16px;
}
.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    font-size: 16px;
    border-radius: 2rem;
}
.blog-pagination{
    margin-bottom: 4rem;
}
.blog-post {
    margin-bottom: 4rem;
}
.display-4 {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700 !important;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
/* Header CSS */
.o_header_affix {
    display: block;
    left: 0;
    bottom: auto;
    right: 0;
    position: absolute;
    z-index: 1030;
    background: #f6f9f9;
    transition: margin-top 500ms ease 0s;
}
justify-content-between {
    justify-content: space-between!important;
}
.custom_nav_pd{
    padding: 9px 0px 0px 0px !important;
}
.custom_nav_pd2{
    padding: 9px 0px 6px 0px !important;
}